.vs/
RetailSuite.Api/bin/
RetailSuite.Api/obj/
RetailSuite.Modules.Tenant/obj/
RetailSuite.Shared/bin/
RetailSuite.Shared/obj/
RetailSuite.Modules.Tenant/bin/
RetailSuite.Modules.Identity/obj/
RetailSuite.Modules.Identity/bin/
RetailSuite.Modules.Catalog/bin/
RetailSuite.Modules.Catalog/obj/
RetailSuite.Infrastructure/obj/
RetailSuite.Modules.Inventory/bin/
RetailSuite.Modules.Inventory/obj/
RetailSuite.Modules.Order/bin/
RetailSuite.Modules.Order/obj/
RetailSuite.Infrastructure/bin/
